<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Special+Elite:regular" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Marko+One:regular" rel="stylesheet" type="text/css">

<!-- adn app.net-->
<script type="text/javascript" src="{{ root_url }}/javascripts/adn-timeline.min.js"></script>

<!-- MathJax Configuration -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

<!--新窗口中打开链接-->
<script type="text/javascript">
function addBlankTargetForLinks () {
  $('a[href^="http"]').each(function(){
      $(this).attr('target', '_blank');
  });
}
$(document).bind('DOMNodeInserted', function(event) {
  addBlankTargetForLinks();
});
</script>

<!--bigfoot-->
<style>@import url("/stylesheets/bigfoot-number.scss");</style>
<script type="text/javascript" src="{{ root_url }}/javascripts/libs/jquery.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/javascripts/bigfoot.js"></script>
<script type="text/javascript">
    $.bigfoot();
</script>

